language: ruby
rvm: system
#language: python
#python:
#  - "2.7"
os: osx
env: OSX=10.12
osx_image: xcode8.3
sudo: required

# /usr/local subdirs are Homebrew components
#cache:
#  directories:
#    - $HOME/Library/Caches/pip
#    - /usr/local/Cellar
#    - /usr/local/Frameworks
#    - /usr/local/Homebrew
#    - /usr/local/bin
#    - /usr/local/etc
#    - /usr/local/include
#    - /usr/local/lib
#    - /usr/local/opt
#    - /usr/local/share
#    - /usr/local/var
#  timeout: 900
#before_cache:
#  - ./travis/before_cache.sh

addons:
  ssh_known_hosts: github.com

before_install:
  - export GH_USER=$(echo -n "${TRAVIS_REPO_SLUG}" | egrep -o '^[^/]+' | tr -d '\n')
  - export TRAVIS_COMMIT="$(git rev-parse --verify -q HEAD)"
  - export CHANGED_FORMULAE=$(./travis/changed_formulas.sh)
  - if [ "${CHANGED_FORMULAE}" == "" ]; then
      echo "Skipping CI; no changed formulae found in $TRAVIS_BUILD_DIR";
      travis_terminate 0;
    else
      echo "Changed formulae are ${CHANGED_FORMULAE}";
    fi
  - export HOMEBREW_REPOSITORY="$(brew --repo)"
  - sudo chown -R "$USER":admin "${HOMEBREW_REPOSITORY}"
  - git -C "${HOMEBREW_REPOSITORY}" reset --hard origin/master
  - mkdir -p "${HOMEBREW_REPOSITORY}/Library/Taps/${GH_USER}"
  - ln -s "$TRAVIS_BUILD_DIR" "${HOMEBREW_REPOSITORY}/Library/Taps/${TRAVIS_REPO_SLUG}"
  - cd "${HOMEBREW_REPOSITORY}/Library/Taps/${TRAVIS_REPO_SLUG}"
  - chmod -f 0644 ${HOMEBREW_REPOSITORY}/Library/Taps/${TRAVIS_REPO_SLUG}/Formula/*.rb
  - export TRAVIS_BUILD_DIR="${HOMEBREW_REPOSITORY}/Library/Taps/${TRAVIS_REPO_SLUG}"
  - export HOMEBREW_DEVELOPER=1
  - export HOMEBREW_NO_AUTO_UPDATE=1
  - export HOMEBREW_PREFIX=$(brew --prefix)
  - ulimit -n 1024
  - ./travis/before_install.sh

install: ./travis/install.sh

#before_script: ./travis/before_script.sh

script: ./travis/script.sh

after_script: ./travis/after_script.sh

before_deploy:
  # Get the deploy key by using Travis's stored variables to decrypt deploy_key.enc
  - openssl aes-256-cbc -K $encrypted_702fb3dc25ba_key -iv $encrypted_702fb3dc25ba_iv -in deploy_key.enc -out deploy_key -d
  - chmod 600 ./deploy_key
  - eval `ssh-agent -s`
  - ssh-add deploy_key
  - ./travis/before_deploy.sh

deploy:
  skip_cleanup: true
  provider: s3
  access_key_id:
    secure: JxG4/zxgbYvKqX4kJTZdQxvAL+EHqmmi4OEjAOY+KUFAP4t9l5aLEYh6brjHF07kDyFyjMt8G7Hf+SZeznA/JGe8NaliXfCnxLH7ftApCP3l/Tl73z3wXnGL1L7EljiO0EbwlsJUM23B+01BMalzBfyLYOEc61LfSuJsEFFa/ck=
  secret_access_key:
    secure: ZdsR1FsY6ER6w6KvF9rjxY4s7GjLXRkT9Rmv4GWyL9+pcHI/4/2KMfab6gj1sQdbc2ocfBgGXR8hQZHi+NZPyTnHbIXf5n2YenLo9NyOHwNs1qiJgxXgtYvhtI/NXCcD9JgX5i5BRR3jkPqJBRe70CmoTwv29kR5Tp158tr3gIg=
  bucket: osgeo4mac
  local-dir: bottles
  upload-dir: bottles
  acl: public_read
  on:
    branch: master
    repo: OSGeo/homebrew-osgeo4mac
