build_steps: &build_steps
  steps:
    - run: |
        brew --version
        brew remove $(brew list)
        rm -rf /usr/local/Homebrew/Library/Taps/
        brew update-reset
        brew --env
        brew config
    # Move the repository code to our home directory in the CircleCI build
    - checkout
    - run: |
        git remote set-url origin $CIRCLE_REPOSITORY_URL
        git fetch origin
        git config --global user.name "Geo Ninja"
        git config --global user.email "qgisninja@gmail.com"
        repo=$(brew --repo $CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME)
        mkdir -p $repo
        cp -a ./ $repo/
    - run:
       name: Update environment variables
       command: .circleci/set_env.sh
    - run:
       name: Before install script
       command: .circleci/before_install.sh
    - run:
       name: Install dependencies
       command: .circleci/install.sh
    - run:
        name: Install changed formulae
        command: .circleci/script.sh
    # Add deployment key fingerprint for CircleCI to use for a push
    - add_ssh_keys:
        fingerprints:
          - "${KEY_FINGERPRINT}"
    - run:
        name: Avoid hosts unknown for github
        command: echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
    - run:
        name: Build bottles
        no_output_timeout: 30m
        command: |
          .circleci/after_script.sh
    - persist_to_workspace:
        root: /tmp
        paths:
          - bottles/*
    - store_test_results:
        path: /tmp/bottles

workflow_filter: &filter
  filters:
    branches:
      only:
        - master

version: 2
jobs:
  update-homebrew:
    macos:
      xcode: "10.1.0"

    steps:
      - restore_cache:
          keys:
            - homebrew-v1-{{ .Branch }}-{{ .Revision }}
            - homebrew-v1-{{ .Branch }}-
            - homebrew-v1-
      - run:
          name: "Update homebrew"
          command: |
            brew tap brewsci/bio || true
            brew tap brewsci/science || true
            brew untap brewsci/science || true
            brew update || brew update
      - save_cache:
          key: homebrew-v1-{{ .Branch }}-{{ .Revision }}
          paths:
            - /usr/local/Homebrew/Library/Taps/homebrew
            - /usr/local/Homebrew/Library/Taps/brewsci

  sierra-build:
    <<: *build_steps
    <<: *filter
    macos:
      xcode: "8.3.3"

  high_sierra-build:
    <<: *build_steps
    <<: *filter
    macos:
      xcode: "10.1.0"

  collect-bottles:
    macos:
      xcode: "10.1.0"
    # filters:
    #   tags:
    #     only: deploy
    # docker:
    #   - image: linuxbrew/brew
    steps:
      - checkout
      - run:
          name: Set env
          command: .circleci/set_env.sh
      - attach_workspace:
          at: /tmp/workspace
      - store_artifacts:
          path: /tmp/workspace/bottles
          destination: bottles
      # - run:
      #     name: Commit bottles
      #     command: .circleci/before_deploy.sh

  deploy:
    machine:
      enabled: true
    steps:
      - run:
          name: Deploy
          command: |
            curl -T *.tar.gz -u${BINTRAY_USER}:${BINTRAY_API_KEY} https://api.bintray.com/content/homebrew-osgeo/osgeo-bottles

workflows:
  version: 2
  test-bot:
    jobs:
      - update-homebrew
      - high_sierra-build:
          requires:
            - update-homebrew
      - sierra-build:
          requires:
            - update-homebrew
      - collect-bottles:
          filters:
            tags:
              only: deploy
          requires:
            - high_sierra-build
            - sierra-build
      - deploy:
          requires:
            - high_sierra-build
          filters:
            branches:
              only: master

# notify:
#   webhooks:
#     - url: https://circleci.com/hooks/github
