# Supported Xcode Versions
# https://circleci.com/docs/2.0/testing-ios/
# 10.15 - 11.3.0 - Catalina
# 10.14 - 11.1.0 - Mojave
# 10.13 - 10.1.0 - HS
# 10.12 - 9.0.1  - Sierra

build_steps: &build_steps
  steps:
    - run:
       name: Homebrew config
       command: |
         brew --version
         brew remove $(brew list)
         rm -rf /usr/local/Homebrew/Library/Taps/
         brew update-reset
         brew --env
         brew config
    - checkout
    - run:
       name: Git config
       command: |
         git checkout $CIRCLE_BRANCH
         git remote set-url origin $CIRCLE_REPOSITORY_URL
         git fetch origin
         git config --global user.name "geo-ninja"
         git config --global user.email "qgisninja@gmail.com"
         repo=$(brew --repo $CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME)
         mkdir -p $repo
         cp -a ./ $repo/
    - run:
       name: Update environment variables
       command: .circleci/set_env.sh
    - run:
       name: Before install
       command: .circleci/before_install.sh
    - run:
       name: Install dependencies
       command: .circleci/install.sh
    - run:
        name: Install changed formulae
        command: .circleci/script.sh
    - run:
        name: Build bottles
        no_output_timeout: 30m
        command: |
          .circleci/after_script.sh
          # fix if the formula does not change or if a file is updated/uploaded
          # echo "${CIRCLE_BUILD_NUM}" > /tmp/bottles/build-num-${CIRCLE_BUILD_NUM}.txt
          echo "FIX" > /tmp/bottles/fix.txt
    - persist_to_workspace:
        root: /tmp
        paths:
          - bottles/*
    - store_test_results:
        path: /tmp/bottles

workflow_filter: &filter
  filters:
    branches:
      ignore:
        - master
      only:
        - bottles
        - /^(?!pull\/).*$/

version: 2
jobs:
  update-homebrew:
    macos:
      xcode: "10.1.0"
    steps:
      - restore_cache:
          keys:
            - homebrew-v1-{{ .Branch }}-{{ .Revision }}
            - homebrew-v1-{{ .Branch }}-
            - homebrew-v1-
      - run:
          name: "Update homebrew"
          command: |
            brew update-reset
      - save_cache:
          key: homebrew-v1-{{ .Branch }}-{{ .Revision }}
          paths:
            - /usr/local/Homebrew/Library/Taps/homebrew

  # catalina-build:
  #   <<: *build_steps
  #   <<: *filter
  #   macos:
  #     xcode: "11.3.0"

  # mojave-build:
  #   <<: *build_steps
  #   <<: *filter
  #   macos:
  #     xcode: "11.1.0"

  high_sierra-build:
    <<: *build_steps
    <<: *filter
    macos:
      xcode: "10.1.0"

  # sierra-build:
  #   <<: *build_steps
  #   <<: *filter
  #   macos:
  #     xcode: "9.0.1"

  collect-bottles:
    macos:
      xcode: "10.1.0"
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - checkout
      - run:
         name: Update environment variables
         command: |
           .circleci/set_env.sh
      - run:
         name: Git config
         command: |
           git config --global user.name "geo-ninja"
           git config --global user.email "qgisninja@gmail.com"
      # fix for ERROR: The key you are authenticating with has been marked as read only.
      # is using the first key that is found, the one assigned in Checkout keys
      # not Add deploy key (Checkout keys)
      # Add deployment key fingerprint (SSH Permissions) for CircleCI to use for a push
      # ssh-keygen -l -E md5 -f key.pub
      - add_ssh_keys:
          fingerprints:
            - "${KEY_FINGERPRINT_OSGEO}"
            - "${KEY_FINGERPRINT}"
      - run:
          name: Avoid hosts unknown for github
          command: |
            echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config

      - run:
          name: Commit for new bottles and upload to bintray
          command: .circleci/before_deploy.sh
      - store_artifacts:
          path: /tmp/workspace/bottles
          destination: bottles

  # deploy:
  #   macos:
  #     xcode: "10.1.0"
  #   steps:
  #     - checkout
  #     - run:
  #         name: Deploy - Upload to bintray
  #         command: |
  #           cd /tmp/workspace/bottles
  #           brew install jfrog-cli-go
  #           jfrog bt config --user=${BINTRAY_USER} --key=${BINTRAY_API} --licenses=MIT
  #           echo "jfrog" > jfrog-deploy.txt
  #           jfrog bt upload --publish=true "jfrog-deploy.txt" homebrew-osgeo/osgeo-bottles/bottles/0.1/
  #           # jfrog bt upload --publish=true "/tmp/workspace/bottles/*" homebrew-osgeo/osgeo-bottles/bottles/0.1/
  #     - store_artifacts:
  #         path: /tmp/workspace/bottles
  #         destination: bottles

workflows:
  version: 2
  build-deploy:
    jobs:
      - update-homebrew:
          filters:
            branches:
              ignore:
                - master
              only:
                - bottles
                - /^(?!pull\/).*$/
      # - catalina-build:
      #     requires:
      #       - update-homebrew
      # - mojave-build:
      #     requires:
      #       - update-homebrew
      - high_sierra-build:
          requires:
            - update-homebrew
          filters:
            branches:
              ignore:
                - master
              only:
                - bottles
                - /^(?!pull\/).*$/
      # - sierra-build:
      #     requires:
      #       - update-homebrew
      - collect-bottles:
            # - catalina-build
            # - mojave-build
          requires:
            - high_sierra-build
          filters:
            branches:
              ignore:
                - master
              only:
                - bottles
                - /^(?!pull\/).*$/
            # - sierra-build
      # - deploy:
      #     requires:
      #       - collect-bottles
      #     filters:
      #       branches:
      #         only: master
