build_steps: &build_steps
  steps:
    - checkout
    - run:
       name: Update environment variables
       command: .circleci/set_env.sh
    - run:
       name: Git config
       command: |
         git remote set-url origin $CIRCLE_REPOSITORY_URL
         git fetch origin
         git config --global user.name "geo-ninja"
         git config --global user.email "qgisninja@gmail.com"
    - run:
       name: Before install
       command: .circleci/before_install.sh
    - run:
       name: Install dependencies
       command: .circleci/install.sh
    - run:
        name: Install changed formulae
        command: .circleci/script.sh
    - run:
        name: Build bottles
        no_output_timeout: 30m
        command: |
          .circleci/after_script.sh
          # if the formula does not change or if a file is updated/uploaded:
          echo "build-num-$CIRCLE_BUILD_NUM" > /tmp/bottles
    - persist_to_workspace:
        root: /tmp
        paths:
          - bottles/*
    - store_test_results:
        path: /tmp/bottles

workflow_filter: &filter
  filters:
    branches:
      only:
        - master

version: 2
jobs:
  update-homebrew:
    macos:
      xcode: "10.1.0"

    steps:
      - restore_cache:
          keys:
            - homebrew-v1-{{ .Branch }}-{{ .Revision }}
            - homebrew-v1-{{ .Branch }}-
            - homebrew-v1-
      - run:
          name: "Update homebrew"
          command: |
            brew tap brewsci/bio || true
            brew tap brewsci/science || true
            brew untap brewsci/science || true
            brew update || brew update
      - save_cache:
          key: homebrew-v1-{{ .Branch }}-{{ .Revision }}
          paths:
            - /usr/local/Homebrew/Library/Taps/homebrew
            - /usr/local/Homebrew/Library/Taps/brewsci

  sierra-build:
    <<: *build_steps
    <<: *filter
    macos:
      xcode: "8.3.3"

  high_sierra-build:
    <<: *build_steps
    <<: *filter
    macos:
      xcode: "10.1.0"

  collect-bottles:
    macos:
      xcode: "10.1.0"
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - checkout
      - run:
         name: Update environment variables
         command: .circleci/set_env.sh
      - run:
         name: Git config
         command: |
           git config --global user.name "geo-ninja"
           git config --global user.email "qgisninja@gmail.com"
      # fix for ERROR: The key you are authenticating with has been marked as read only.
      # is using the first key that is found, the one assigned in Checkout keys
      # not Add deploy key (Checkout keys)
      # Add deployment key fingerprint (SSH Permissions) for CircleCI to use for a push
      - add_ssh_keys:
          fingerprints:
            - "${KEY_FINGERPRINT}"
      - run:
          name: Avoid hosts unknown for github
          command: |
            echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
      - run:
          name: Commit for new bottles and upload to bintray
          command: |
            if [ "$CIRCLE_BRANCH" == "master" ] && [ "$CHANGED_FORMULAE" != "" ]; then
              # This hook will add [ci skip] the the commit messages for bottle DSL
              # so that ci does not re-build a duplicate bottle on pushing.
              # touch .git/hooks/commit-msg
              # cp -r ./commit-msg.sh .git/hooks/commit-msg
              cat .git/hooks/commit-msg
              # echo 'echo "\n\n[ci skip]" >> "$1"' >> .git/hooks/commit-msg; chmod +x .git/hooks/commit-msg
            fi
            .circleci/before_deploy.sh
      - store_artifacts:
          path: /tmp/workspace/bottles
          destination: bottles

  # deploy:
  #   macos:
  #     xcode: "10.1.0"
  #   steps:
  #     - checkout
  #     - run:
  #         name: Deploy - Upload to bintray
  #         command: |
  #           cd /tmp/workspace/bottles
  #           brew install jfrog-cli-go
  #           jfrog bt config --user=${BINTRAY_USER} --key=${BINTRAY_API} --licenses=MIT
  #           echo "jfrog" > jfrog-deploy.txt
  #           jfrog bt upload --publish=true "jfrog-deploy.txt" homebrew-osgeo/osgeo-bottles/bottles/0.1/
  #           # jfrog bt upload --publish=true "/tmp/workspace/bottles/*" homebrew-osgeo/osgeo-bottles/bottles/0.1/
  #     - store_artifacts:
  #         path: /tmp/workspace/bottles
  #         destination: bottles

workflows:
  version: 2
  test-bot:
    jobs:
      - update-homebrew
      - high_sierra-build:
          requires:
            - update-homebrew
      - sierra-build:
          requires:
            - update-homebrew
      - collect-bottles:
          requires:
            - high_sierra-build
            - sierra-build
      # - deploy:
      #     requires:
      #       - collect-bottles
      #     filters:
      #       branches:
      #         only: master
